*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --redTxtClr: #ff0000;
  --blackTxtClr: #101010;
  --lightGrayClr: #dadada;
  --mediumGrayClr: #666;
  --darkGrayClr: #141414;
  --borderBottomClr: rgba(10, 8, 8, 0.03);
  --successClr: #38cc38;
}

body {
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
}
